body{
background-color: black;
}
#converter{
text-align: center;
border-top: 10px solid white;
border-left: 10px double white;
border-right: 10px double white;
border-bottom: 10px solid white;
}
#converter label{
color: white;
border-top: 5px solid black;
border-left: 5px solid black;
border-right: 5px solid black;
border-bottom: 5px solid black;
}
form{
color: white;
}